.categoryTitleContainer,
.forumGuidelinesContainer,
.checkboxContainer {
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif; 
    display: flex;
    flex-direction: column;
}

.checkboxContainer {
    flex-direction: row;
}

.forumGuidelinesContainer {
    margin-bottom: 10px;
}

.categoryTitleHeader,
.forumGuidelinesHeader {
    margin-bottom: 10px;
}

.textarea {
	width: 50vw !important;
}

.guidelinetextarea {
    width: 44vw !important;
}

.submitButtonContainer {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100%;
  margin-top: 20px;
}

.addGuidelineContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.guidelineInputContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

@media (max-width: 768px) {
  .textarea {
    width: 75vw !important;
  }

  .categories {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
  }

  .categoryLabelContainer {
    margin-top: 5px;
  }

  .categoryLabelContainer:not(:first-child) {
    margin-left: 0px;
  }
}