.categoryItem {
  margin: 10px;
  padding: 10px;
  text-align: center;
  background: #d8c244;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s; /* Animation */
}

.categoryItem:hover {
  transform: scale(1.05); /* Slightly enlarge items on hover */
}

.categoryTitle {
  font-weight: normal;
  font-size: 18px;
}