.forumGuideLinesCard {
  width: 15vw;
  height: 100%;
}

.title {
  font-family: "Source Sans 3", sans-serif;
  font-size: 20px;
  margin-top: -30px;
}

@media only screen and (max-width: 1224px) {
  .forumGuideLinesCard {
    width: 100%;
  }
}
