* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'Grantha Sangam MN';
  src: url('/fonts/grantha-sangam-mn-regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans 3';
  src: url('/fonts/SourceSans3-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url('/fonts/Merriweather-Regular.ttf') format('truetype');
  font-weight: 300px;
  font-style: normal;
}

@font-face {
  font-family: 'Kollektif';
  src: url('/fonts/Kollektif.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #111;
  color: #bbb;
  font-family: 'Grantha Sangam MN', sans-serif;
}

.title {
  font-family: 'Source Sans 3', sans-serif; 
}

.secondaryTitle {
  font-family: 'Merriweather', sans-serif; 
}

.logoA {
  font-family: "Kollektif", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.theme {
  transition: 1s all ease ;
}

.light {
  background-color: white;
  color: #111;
}

.dark {
  background-color: #111;
  color: #bbb;
}

.container {
  max-width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.datatableContainer {
  position: relative;
}

@media screen and (max-width: 768px) {
  /* Adjust styles for smaller screens */
  .container {
    padding: 10px;
  }
}