.container {
  position: relative;
}

.textContainer {
  position: absolute;
  top: 20%; /* Vertically center the textContainer within the .container */
  left: 70%; /* Horizontally center the textContainer within the .container */
  transform: translate(-50%, -50%); /* Move the textContainer back to center */
  display: flex;
  flex-direction: column;
  align-items: left;
}

.imageContainer {
  position: absolute;
  top: 65%; /* Vertically center the imageContainer within the .container */
  left: calc(
    40% + 500px
  ); /* Position the imageContainer to the right of the textContainer with some margin */
  transform: translate(-50%, -65%); /* Move the imageContainer back to center */
  width: 600px;
  height: 400px;
}

.imageContainer2 {
  position: absolute;
  top: 30%; /* Vertically center the imageContainer within the .container */
  left: calc(
    40% + 300px
  ); /* Position the imageContainer to the right of the textContainer with some margin */
  transform: translate(
    -10%,
    -160%
  ); /* Move the imageContainer back to center */
  width: auto;
  height: auto;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: -20px;
}

.mainTitle {
  font-size: 80px;
  color: black;
  font-family: "Source Sans 3", sans-serif;
}

.logoA {
  font-size: 80px;
  color: black;
  font-family: "Kollektif", sans-serif;
  margin-top: 0px;
}

.description {
  font-size: 24px;
  color: black;
  font-family: "Merriweather", sans-serif;
}

.secondaryTitle {
  font-size: 48px;
  color: #35acfe;
  font-family: "Source Sans 3", sans-serif;
  margin-top: -5px;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img2 {
  width: 100px;
  height: 100px;
}

.buttonContainer {
  margin-top: 10px;
}

.button {
  text-align: center; /* Center the text horizontally within each button */
  padding: 10px 40px;
  border: none;
  border-radius: 20px;
  width: max-content;
  color: white;
  font-size: 20px;
  margin: 0 10px; /* Add margin to create space between buttons */
  cursor: pointer;
}

.button {
  background-color: #35acfe;
}

@media screen and (max-width: 768px) {
  .textContainer {
    top: 45%; /* Vertically center the textContainer within the .container */
    left: 40%; /* Horizontally center the textContainer within the .container */
    transform: translate(
      -50%,
      -90%
    ); /* Move the textContainer back to center */
  }

  .imageContainer {
    top: 50%; /* Vertically center the textContainer within the .container */
    left: calc(
      30% + 300px
    ); /* Position the imageContainer to the right of the textContainer with some margin */
    transform: translate(
      -100%,
      -100%
    ); /* Move the imageContainer back to center */
  }
  .imageContainer2 {
    top: 50%; /* Vertically center the textContainer within the .container */
    left: calc(
      30% + 300px
    ); /* Position the imageContainer to the right of the textContainer with some margin */
    transform: translate(
      -200%,
      -250%
    ); /* Move the imageContainer back to center */
  }

  .mainTitle {
    font-size: 48px;
    color: black;
    font-family: "Source Sans 3", sans-serif;
  }

  .logoA {
    font-size: 48px;
    margin-top: 5px;
  }

  .description {
    font-size: 13px;
    margin-top: 5px;
  }

  .secondaryTitle {
    font-size: 28px;
    margin-top: -5px;
  }

  .img {
    width: 200px;
    height: 200px;
  }
  .img2 {
    width: 50px;
    height: 50px;
  }

  .buttonContainer {
    margin-top: 5px;
  }

  .button {
    padding: 8px 32px;
    font-size: 15px;
    margin: 0 5px;
  }
}
