.pageContainer {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  padding: 20px;
  background-color: white;
  border-radius: 0px;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Montserrat', sans-serif;
}

.title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Source Sans 3";
}

.categories {
  padding-left: 10px;
  font-family: "Source Sans 3";
  font-size: 20px;
  margin-bottom: 10px;
}

.leftContainer {

}

.middleContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topMiddleContainer {
  display: flex;
  flex-direction: row;
  /* width: 100%;
  justify-content: space-between; */
  /* margin-right: 20px; */
}

.menuContainer {
  display: flex;
  flex-direction: row;
}

.searchBarContainer {
    /* padding-left: 3vw; */
}

.createPostBtnContainer {
    padding-left: 1vw;
}

.postsContainer {
  width: 90%;
}

.rightContainer {
  min-height: 100vh;
}

.advertistment {
  min-height: 100vh;
  border-color: black;
  background-color: aqua;
}