.nav__link {
  font-size: 18px;
  position: relative;
  transition: all 0.2s;
}

.nav__link:hover {
  font-weight: bold;
  color: #53c28b;
}

@media screen and (min-width: 768px) {
  .nav__link::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 6px;
    bottom: -10px;
    left: 0;
    background-color: white;
    transition: all 0.2s;
  }

  .nav__link:hover:before {
    width: 100%;
  }
}
