.multimediaContainer {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.multimediaLeftColumn, .multimediaRightColumn {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.multimediaLeftColumn {
  flex: 1; /* Allows the column to grow and take up 80% of the space */
  max-width: 77%; /* Sets the maximum width to 80% */
  border-style: solid;
  border-width: 1px; 
  border-color: black;
}

.multimediaRightColumn {
  flex: 0 0 23%; /* takes up 20% of the multimediaContainer */
  border-style: solid;
  border-width: 1px; 
  border-color: black;
}

.playerWrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.reactPlayer {
  position: absolute;
  top: 0;
  left: 0;
}

.multimediaColumn1, .multimediaColumn2 {
  /* max-width: 1080px; */
  width: 100%; 
  font-family: 'Montserrat', sans-serif; 
  gap: 5px;
}

.imageContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 5px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.descriptionContainer {
  margin-top: 10px;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

