.postContainer {
  font-family: 'Montserrat', sans-serif; 
}

.postTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 23px;
  font-weight: bold;
  margin-top: 10px;
}

.postTitleButtonContainer {
  display: flex;
}


.postInfo {
  display: flex;
  align-items: flex-start;
  margin-top: 5px;
}

.idTag {
  padding: 5px 10px; 
  background-color: #03070b; 
  color: white; 
  border-radius: 20px;
  display: flex;
  align-items: center;
  font-size: 12px;
}

.categoryTag {
  margin-left: 10px;
  padding: 5px 10px; 
  background-color: #082948;
  color: white; 
  border-radius: 20px;
  display: flex;
  align-items: center;
  font-size: 12px;
}

.pendingTag {
  padding: 5px 10px; 
  background-color: rgb(224, 105, 7); 
  color: white; 
  border-radius: 20px;
  display: flex;
  align-items: center;
  font-size: 12px;
  margin-left: 10px;
  height: 30px;
}

.inactiveTag {
  padding: 5px 10px; 
  background-color: rgb(255, 0, 0); 
  color: white; 
  border-radius: 20px;
  display: flex;
  align-items: center;
  font-size: 12px;
  margin-left: 10px;
  height: 30px;
}

.categoryTagEvents {
  background-color: rgba(211, 23, 211, 0.699);

}

.categoryTagMiscellaneous {
  background-color: rgba(31, 195, 154, 0.699); 
}

.categoryTagConfessions {
  background-color: #ffc937;
  color: black;
}

.categoryTagCareer {
  background-color: rgba(19, 19, 195, 0.699);
}

.dateTimeText {
  margin-top: 5px;
  align-self: flex-end;
  padding: 5px 10px; 
  background-color: rgb(189, 188, 188); 
  color: white; 
  border-radius: 20px;
  font-size: 10px;
}

.userId {
  margin-top: 5px;
  align-self: flex-end;
  background: transparent;
  color: black; 
  border-radius: 20px;
  font-size: 10px;
}

.content {
  margin-top: 15px;
  text-align: justify;
}

.thumbnailDataScrollerContent {
  margin-top: 15px;
  display: block;
  flex-direction: column;
}

.showMore {
  margin-left: 10px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  margin-left: 10px;
  font-weight: bold;
  font-size: 14px;
}

.footer {
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.commentButton, 
.deleteButton,
.editButton,
.reportButton {
  background: transparent !important;
  color: black !important;
  border: transparent !important;
  width: 30px !important;
  height: 30px !important;
}

.videoInfo {
  margin-top: 5px;
  align-self: flex-end; 
  background-color: rgb(212, 18, 212); 
  color: white; 
  border-radius: 20px;
  font-size: 10px;
}

.multimediaButton {
  background: transparent !important;
  border: transparent !important;
  width: 120px !important;
  height: 30px !important;
}

.multimediaButton:hover,
.commentButton:hover,
.editButton:hover,
.deleteButton:hover {
  border: #2196f3 !important;
  background-color: #2196f3 !important;
  border: #2196f3 !important ;
  color: #edf6f9 !important;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s;
}

.reportButton:hover {
  border: rgba(255, 0, 0, 0.743)  !important;
  background-color: rgba(255, 0, 0, 0.743) !important;
  border: rgba(255, 0, 0, 0.743)  !important ;
  color: #edf6f9 !important;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s;
}

.createCommentModal {
  min-width: 60vw;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 768px) {
  
}

.thumbnailContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 10px;
  width: 100%;
  height: auto; 
  width: 170px; /* Fixed width */
  transition: transform 0.5s ease;
}

.thumbnailImage {
  width: 160px;
  height: 90px;
  object-fit: cover;
  border-radius: 5px;
}

.thumbnailContainer:hover {
  transform: scale(1.1); /* Adjust scale value to control zoom level */
}

.thumbnailContainer:hover {
  cursor: pointer;
}

.thumbnailContent {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  overflow: hidden;
}

.thumbnailTitle, .thumbnailUsername {
  white-space: nowrap; /* Keep titles in one line */
  overflow: hidden; /* Hide overflow */
  text-overflow: ellipsis; /* Add an ellipsis to text that overflows */
  max-width: 150px;
}

.thumbnailTitle {
  font-weight: bold;
  margin-right: 5px; 
  margin-bottom: 5px;
}

.thumbnailUsername {
  margin-right: 5px;
}